ILCorpusSchema.odd

<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"
    xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI for International Law Corpus</title>
                <author>Will Hanley</author>
            </titleStmt>
            <publicationStmt>
                <p> Available under CC0 license - https://creativecommons.org/publicdomain/zero/1.0/
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Information about the source</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="egSchema">
                <moduleRef key="core" except=""/>
                <moduleRef key="tei" except=""/>
                <moduleRef key="header" except=""/>
                <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
                <moduleRef key="analysis" except=""/>
                <moduleRef key="figures" except=""/>
                <moduleRef key="gaiji" include="g glyph"/>
                <moduleRef key="linking" except=""/>
                <moduleRef key="namesdates" except=""/>
                <moduleRef key="transcr" include=""/>
                <!--  -->
                <!--  -->
                <!--  -->
                <elementSpec ident="div" mode="change">
                    <attList>
                        <attDef ident="type" usage="req" mode="change">
                            <gloss>The div level must be typed.</gloss>
                            <datatype>
                                <rng:ref name="datatype.Code"/>
                            </datatype>
                            <valList type="closed" mode="replace">
                                <valItem ident="masthead"/>
                                <valItem ident="page"/>
                                <valItem ident="section"/>
                                <valItem ident="subsection"/>
                                <valItem ident="article"/>
                                <!-- now being deprecated -->
                                <valItem ident="item"/>
                                <valItem ident="wireReport"/>
                                <valItem ident="advert"/>
                                <valItem ident="nameplate"/>
                                <valItem ident="feature"/>
                            </valList>
                        </attDef>
                        <attDef ident="scope" usage="rec" mode="add">
                            <!-- now being deprecated -->
                            <datatype>
                                <rng:ref name="datatype.Code"/>
                            </datatype>
                            <valList type="closed" mode="add">
                                <valItem ident="advertisement"/>
                                <valItem ident="local"/>
                                <valItem ident="financial"/>
                                <valItem ident="weather"/>
                                <valItem ident="newspaper"/>
                                <valItem ident="social"/>
                                <valItem ident="sporting"/>
                                <valItem ident="calendar"/>
                                <valItem ident="announcements"/>
                                <valItem ident="municipality"/>
                            </valList>
                        </attDef>
                        <attDef ident="colSpan" usage="rec" mode="add">
                            <desc>Used to specify the width of a div which spans multiple columns
                                and cannot be accurately described using the cols and cb
                                elements.</desc>
                            <datatype>
                                <rng:ref name="datatype.Code"/>
                            </datatype>
                            <valList type="closed" mode="add">
                                <valItem ident="1"/>
                                <valItem ident="2"/>
                                <valItem ident="3"/>
                                <valItem ident="4"/>
                                <valItem ident="5"/>
                                <valItem ident="6"/>
                            </valList>
                        </attDef>
                        <attDef ident="element" usage="rec" mode="add">
                            <!-- replacing with feature -->
                            <datatype>
                                <rng:ref name="datatype.Code"/>
                            </datatype>
                            <valList type="closed" mode="add">
                                <valItem ident="weather">
                                    <desc>Daily Weather Report</desc>
                                </valItem>
                                <valItem ident="wire">
                                    <desc>Telegrams</desc>
                                </valItem>
                                <valItem ident="local">
                                    <desc>Local and General</desc>
                                </valItem>
                                <valItem ident="sport">
                                    <desc>Sport and Play</desc>
                                </valItem>
                                <valItem ident="social">
                                    <desc>Personal and Social</desc>
                                </valItem>
                                <valItem ident="comingEvents">
                                    <desc>Calendar of Coming Events</desc>
                                </valItem>
                                <valItem ident="passList">
                                    <desc>Passenger List</desc>
                                </valItem>
                                <valItem ident="visitList">
                                    <desc>Visitors' List</desc>
                                </valItem>
                                <valItem ident="letters">
                                    <desc>Letters to the Editor</desc>
                                </valItem>
                                <valItem ident="khedive">
                                    <desc>The Khedive</desc>
                                </valItem>
                                <valItem ident="councilMinisters">
                                    <desc>Council of Ministers</desc>
                                </valItem>
                                <valItem ident="steamerMovements">
                                    <desc>Steamer Movements</desc>
                                </valItem>
                                <valItem ident="shippingMovements">
                                    <desc>Shipping Movements / Mouvement Maritime</desc>
                                </valItem>
                                <valItem ident="navalNotes">
                                    <desc>Naval Notes</desc>
                                </valItem>
                                <valItem ident="army">
                                    <desc>Army and Navy / Army of Occupation / Egyptian Army / Naval
                                        Notes</desc>
                                </valItem>
                                <valItem ident="londonLetter">
                                    <desc>Our London Letter</desc>
                                </valItem>
                                <valItem ident="parisLetter">
                                    <desc>Our Paris Letter</desc>
                                </valItem>
                                <valItem ident="nativePress">
                                    <desc>Native Press Comments</desc>
                                </valItem>
                                <valItem ident="homePapers">
                                    <desc>Matters of Moment / Pith of the Press / Home Papers</desc>
                                </valItem>
                                <valItem ident="legal">
                                    <desc>Chronique Judiciaire / Legal Notes</desc>
                                </valItem>
                                <valItem ident="chroniqueFinanciere">
                                    <desc>Chronique Financiere</desc>
                                </valItem>
                                <valItem ident="bulletinBourse">
                                    <desc>Bulletin de la Bourse</desc>
                                </valItem>
                                <valItem ident="shareMarket">
                                    <desc>Egyptian Share Market</desc>
                                </valItem>
                                <valItem ident="prepaidAdvertisements">
                                    <desc>Cheap Prepaid Advertisements</desc>
                                </valItem>
                                <valItem ident="bandPerformance">
                                    <desc>Band Performance / Esbekieh Gardens</desc>
                                </valItem>
                                <valItem ident="exportManifests">
                                    <desc>Export Manifests</desc>
                                </valItem>
                                <valItem ident="notesPortSaid">
                                    <desc>Notes from Port Said</desc>
                                </valItem>
                                <valItem ident="notesSuez">
                                    <desc>Notes from Suez</desc>
                                </valItem>
                                <valItem ident="notesSuakin">
                                    <desc>Notes from Suakin</desc>
                                </valItem>
                                <valItem ident="notesKhartoum">
                                    <desc>Notes from Khartoum</desc>
                                </valItem>
                                <valItem ident="notesConstantinople">
                                    <desc>Notes from Constantinople</desc>
                                </valItem>
                                <valItem ident="notesCyprus">
                                    <desc>Notes from Cyprus</desc>
                                </valItem>
                                <valItem ident="notesSudan">
                                    <desc>Notes from the Sudan</desc>
                                </valItem>
                                <valItem ident="notesFayoum">
                                    <desc>Notes from Fayoum</desc>
                                </valItem>
                                <valItem ident="notesAssiout">
                                    <desc>Notes from Assiout</desc>
                                </valItem>
                                <valItem ident="notesLuxor">
                                    <desc>Notes from Luxor</desc>
                                </valItem>
                                <valItem ident="notesMena">
                                    <desc>Notes from Mena</desc>
                                </valItem>
                                <valItem ident="notesHelouan">
                                    <desc>Notes from Helouan</desc>
                                </valItem>
                                <valItem ident="notesOther">
                                    <desc>Notes from other places in Egypt, including Wadi Medani,
                                        Keneh, Kafr Zayat, Minet el Gamh, Akhmin </desc>
                                </valItem>
                                <valItem ident="egyptological">
                                    <desc>Egyptological Notes</desc>
                                </valItem>
                                <valItem ident="circulaire">
                                    <desc>Circulaire H. de Vries et Boutigny. Notes et
                                        Critiques</desc>
                                </valItem>
                                <valItem ident="theatre">
                                    <desc>Chronique Theatrale / Abbas Helmy Theatre / Alhambra
                                        Theatre / Zizinia Theatre</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="feature" usage="rec" mode="add">
                            <datatype>
                                <rng:ref name="datatype.Code"/>
                            </datatype>
                            <valList type="closed" mode="add">
                                <valItem ident="weather">
                                    <desc>Daily Weather Report</desc>
                                </valItem>
                                <valItem ident="wire">
                                    <desc>Telegrams</desc>
                                </valItem>
                                <valItem ident="local">
                                    <desc>Local and General</desc>
                                </valItem>
                                <valItem ident="sport">
                                    <desc>Sport and Play</desc>
                                </valItem>
                                <valItem ident="social">
                                    <desc>Personal and Social</desc>
                                </valItem>
                                <valItem ident="comingEvents">
                                    <desc>Calendar of Coming Events</desc>
                                </valItem>
                                <valItem ident="passList">
                                    <desc>Passenger List</desc>
                                </valItem>
                                <valItem ident="visitList">
                                    <desc>Visitors' List</desc>
                                </valItem>
                                <valItem ident="letters">
                                    <desc>Letters to the Editor</desc>
                                </valItem>
                                <valItem ident="khedive">
                                    <desc>The Khedive</desc>
                                </valItem>
                                <valItem ident="councilMinisters">
                                    <desc>Council of Ministers</desc>
                                </valItem>
                                <valItem ident="steamerMovements">
                                    <desc>Steamer Movements</desc>
                                </valItem>
                                <valItem ident="shippingMovements">
                                    <desc>Shipping Movements / Mouvement Maritime</desc>
                                </valItem>
                                <valItem ident="navalNotes">
                                    <desc>Naval Notes</desc>
                                </valItem>
                                <valItem ident="army">
                                    <desc>Army and Navy / Army of Occupation / Egyptian Army / Naval
                                        Notes</desc>
                                </valItem>
                                <valItem ident="londonLetter">
                                    <desc>Our London Letter</desc>
                                </valItem>
                                <valItem ident="parisLetter">
                                    <desc>Our Paris Letter</desc>
                                </valItem>
                                <valItem ident="nativePress">
                                    <desc>Native Press Comments</desc>
                                </valItem>
                                <valItem ident="homePapers">
                                    <desc>Matters of Moment / Pith of the Press / Home Papers</desc>
                                </valItem>
                                <valItem ident="legal">
                                    <desc>Chronique Judiciaire / Legal Notes</desc>
                                </valItem>
                                <valItem ident="chroniqueFinanciere">
                                    <desc>Chronique Financiere</desc>
                                </valItem>
                                <valItem ident="bulletinBourse">
                                    <desc>Bulletin de la Bourse</desc>
                                </valItem>
                                <valItem ident="shareMarket">
                                    <desc>Egyptian Share Market</desc>
                                </valItem>
                                <valItem ident="prepaidAdvertisements">
                                    <desc>Cheap Prepaid Advertisements</desc>
                                </valItem>
                                <valItem ident="bandPerformance">
                                    <desc>Band Performance / Esbekieh Gardens</desc>
                                </valItem>
                                <valItem ident="exportManifests">
                                    <desc>Export Manifests</desc>
                                </valItem>
                                <valItem ident="notesPortSaid">
                                    <desc>Notes from Port Said</desc>
                                </valItem>
                                <valItem ident="notesSuez">
                                    <desc>Notes from Suez</desc>
                                </valItem>
                                <valItem ident="notesSuakin">
                                    <desc>Notes from Suakin</desc>
                                </valItem>
                                <valItem ident="notesKhartoum">
                                    <desc>Notes from Khartoum</desc>
                                </valItem>
                                <valItem ident="notesConstantinople">
                                    <desc>Notes from Constantinople</desc>
                                </valItem>
                                <valItem ident="notesCyprus">
                                    <desc>Notes from Cyprus</desc>
                                </valItem>
                                <valItem ident="notesSudan">
                                    <desc>Notes from the Sudan</desc>
                                </valItem>
                                <valItem ident="notesFayoum">
                                    <desc>Notes from Fayoum</desc>
                                </valItem>
                                <valItem ident="notesAssiout">
                                    <desc>Notes from Assiout</desc>
                                </valItem>
                                <valItem ident="notesLuxor">
                                    <desc>Notes from Luxor</desc>
                                </valItem>
                                <valItem ident="notesMena">
                                    <desc>Notes from Mena</desc>
                                </valItem>
                                <valItem ident="notesHelouan">
                                    <desc>Notes from Helouan</desc>
                                </valItem>
                                <valItem ident="notesOther">
                                    <desc>Notes from other places in Egypt, including Wadi Medani,
                                        Keneh, Kafr Zayat, Minet el Gamh, Akhmin </desc>
                                </valItem>
                                <valItem ident="egyptological">
                                    <desc>Egyptological Notes</desc>
                                </valItem>
                                <valItem ident="circulaire">
                                    <desc>Circulaire H. de Vries et Boutigny. Notes et
                                        Critiques</desc>
                                </valItem>
                                <valItem ident="theatre">
                                    <desc>Chronique Theatrale / Abbas Helmy Theatre / Alhambra
                                        Theatre / Zizinia Theatre</desc>
                                </valItem>
                                <valItem ident="masthead">
                                    <desc>Egyptian Gazette masthead including date and
                                        publisher</desc>
                                </valItem>
                                <valItem ident="cottonMarket">
                                    <desc>The Cotton Market. Kearsley and Cunningham’s Weekly
                                        Report.</desc>
                                </valItem>
                                <valItem ident="bureauPlacement">
                                    <desc>Société Internationale des Employés d'Alexandrie Bureau de
                                        Placement</desc>
                                </valItem>
                                <valItem ident="claimsEstate">
                                    <desc>Claims agains the Estate</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="status" usage="rec" mode="add">
                            <desc>Used to indicate whether the contents of a div have been verified
                                by an editor, and to indicate further details about the status of
                                those contents.</desc>
                            <datatype>
                                <rng:ref name="datatype.Code"/>
                            </datatype>
                            <valList type="closed" mode="add">
                                <valItem ident="verified">
                                    <desc>Complete and correct.</desc>
                                </valItem>
                                <valItem ident="unverified">
                                    <desc>Has not been checked. (Do not use as default--leave out
                                        the attribute as a default).</desc>
                                </valItem>
                                <valItem ident="uncorrectedOCR">
                                    <desc>Div contains pasted OCR text that has not been corrected
                                        or formatted.</desc>
                                </valItem>
                                <valItem ident="irregularFormat">
                                    <desc>Div contains valid content, but formatting differs from
                                        standard.</desc>
                                </valItem>
                                <valItem ident="templateDefault">
                                    <desc>Div is identical to the template, and does not correspond
                                        to the content of the issue.</desc>
                                </valItem>
                                <valItem ident="empty">
                                    <desc>Div is empty, often because an editor deleted default template.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>

                <!--  -->
                <!--  -->
                <!--  -->

                <elementSpec ident="measure" module="core" mode="change">
                    <attList>
                        <attDef ident="unit" mode="replace">
                            <datatype>
                                <rng:ref name="data.enumerated"/>
                            </datatype>
                            <valList type="semi">
                                <valItem ident="tal">
                                    <desc>Talari</desc>
                                </valItem>
                                <valItem ident="cantar">
                                    <desc>qantar</desc>
                                </valItem>
                                <valItem ident="£">
                                    <desc>British Pounds Sterling</desc>
                                </valItem>
                                <valItem ident="fcs">
                                    <desc>francs</desc>
                                </valItem>
                                <valItem ident="sh">
                                    <desc>shillings</desc>
                                </valItem>
                                <valItem ident="LE">
                                    <desc>Egyptian pounds (livres égyptien)</desc>
                                </valItem>
                                <valItem ident="balles">
                                    <desc>bales of cotton</desc>
                                </valItem>
                                <valItem ident="ton">
                                    <desc>tonnes</desc>
                                </valItem>
                                <valItem ident="dC">
                                    <desc>degrees celsius</desc>
                                </valItem>
                                <valItem ident="mm">
                                    <desc>millimeters</desc>
                                </valItem>
                                <valItem ident="pt">
                                    <desc>piasters tarif</desc>
                                </valItem>
                                <valItem ident="min">
                                    <desc>minutes</desc>
                                </valItem>
                                <valItem ident="LE M">
                                    <desc>Egyptian pounds and millimes</desc>
                                </valItem>
                                <valItem ident="ard">
                                    <desc>ardeb</desc>
                                </valItem>
                                <valItem ident="$">
                                    <desc>US dollars</desc>
                                </valItem>
                                <valItem ident="sack">
                                    <desc>sacks</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="commodity" mode="replace">
                            <datatype>
                                <rng:ref name="data.enumerated"/>
                            </datatype>
                            <valList type="semi">
                                <valItem ident="currency">
                                    <desc/>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="type" mode="replace">
                            <datatype>
                                <rng:ref name="data.enumerated"/>
                            </datatype>
                            <valList type="semi">
                                <valItem ident="indexNo">
                                    <desc>number corresponding to indexing system for newspaper
                                        elements, especially paid advertisements</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="cols" mode="add">
                    <desc>Specifies the number of columns in a given section</desc>
                    <classes>
                        <memberOf key="model.milestoneLike"/>
                        <memberOf key="att.global"/>
                        <memberOf key="model.global"/>
                    </classes>
                    <content>
                        <rng:empty/>
                    </content>
                </elementSpec>
                <elementSpec ident="colSpan" mode="add">
                    <desc>Used to specifies the width of a div which spans multiple columns and
                        cannot be accurately described using the cols and cb elements.</desc>
                    <classes>
                        <memberOf key="model.milestoneLike"/>
                        <memberOf key="att.global"/>
                        <memberOf key="model.global"/>
                    </classes>
                    <content>
                        <rng:empty/>
                    </content>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
